doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title CliMit

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.4/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Varela+Round', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
            .container.px-4.px-lg-5
                img.img-nav(src='assets/img/CliMitLogoBlack.svg', alt='...')
                button.navbar-toggler.navbar-toggler-right(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto
                        li.nav-item
                            a.nav-link(href='#about') About
                        li.nav-item
                            a.nav-link(href='#signup') Contact
                        li.nav-item 
                        .social.d-flex.justify-content-center
                            a.mx-2(href='#!')
                                i.fab.fa-instagram

        // Masthead
        header.masthead
            .container.px-4.px-lg-5.d-flex.h-100.align-items-center.justify-content-center
                .d-flex.justify-content-center
                    .text-center
                        img.mb-5.img-fluid(src='assets/img/CliMitLogoWhite-cropped.svg', alt='...')
                        h2.text-white-50.mx-auto.mt-2.mb-5 Building a Climate-Resilient Future

        // About
        section#about.about-section.text-center
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-8
                        h2.text-white.mb-4 About CliMit
                        p.text-white-50
                            | CliMit was founded in 2021 by Rutgers University undergraduate Michael Panchery, and is composed solely of Rutgers students. 
                            br
                img.display-img(src='assets/img/laptop.png', alt='...')

        //Mission Statement  
        section#about.about-section.text-center
                    .container.px-4.px-lg-5
                        .row.gx-4.gx-lg-5.justify-content-center
                            .col-lg-8
                                h2.text-white.mb-4 Mission Statement
                                p.text-white-50
                                    | Storms are only growing stronger and more frequent as infrastructure weakens and lives are lost. 
                                    | Society must adjust, and while there are many individuals determined to solve climate change, 
                                    | we at CliMit are working to live with it. CliMit seeks to leverage new technologies with innovative ideas that will build safer, 
                                    | more resilient communities against climate-induced disasters. The sustainability and welfare of future generations is our utmost priority. 
        //Areas of Focus
        section#projects.projects-section.text-center
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-8
                        h2 Areas of Focus
                        br
                // Project One Row
                .row.gx-0.mb-4.justify-content-center
                    .col-lg-3
                        img.img-fluid(src='assets/img/FloodIcon.svg', alt='...')
                        .bg-black.text-center.h-50
                            .d-flex.h-100
                                .w-100.mt-4.text-center.text-lg-left
                                    h4.text-white Floods
                                    hr.d-none.d-lg-block.mb-0.ms-0

                    .col-lg-3
                        img.img-fluid(src='assets/img/FireIcon.svg', alt='...')
                        .bg-black.text-center.h-50
                            .d-flex.h-100
                                .w-100.mt-4.text-center.text-lg-left
                                    h4.text-white Wildfires
                                    hr.d-none.d-lg-block.mb-0.ms-0
                    .col-lg-3
                        img.img-fluid(src='assets/img/DroughtIcon.svg', alt='...')
                        .bg-black.text-center.h-50
                            .d-flex.h-100
                                .w-100.mt-4.text-center.text-lg-left
                                    h4.text-white Droughts
                                    hr.d-none.d-lg-block.mb-0.ms-0
                    .col-lg-3
                        img.img-fluid(src='assets/img/LandslideIcon.svg', alt='...')
                        .bg-black.text-center.h-50
                            .d-flex.h-100
                                .w-100.mt-4.text-center.text-lg-left
                                    h4.text-white Landslides
                                    hr.d-none.d-lg-block.mb-0.ms-0
            .row.gx-0.mb-4.justify-content-center

                
        // Projects
        section#projects.projects-section.text-center
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-8
                        h2 Our Executive Team
                        br
                        p
                            | team of 40 rutgers undergrads
                // Project One Row
                .row.gx-0.mb-4.justify-content-center
                    .col-lg-3
                        img.img-fluid(src='assets/img/Michael_Portrait.jpg', alt='...')
                        .bg-black.text-center.h-50
                            .d-flex.h-100
                                .w-100.mt-4.text-center.text-lg-left
                                    h4.text-white Michael Panchery
                                    p.mb-0.text-white-50
                                        | Chief Executive Officer
                                    hr.d-none.d-lg-block.mb-0.ms-0

                    .col-lg-3
                        img.img-fluid(src='assets/img/Katie_Portrait.jpg', alt='...')
                        .bg-black.text-center.h-50
                            .d-flex.h-100
                                .w-100.mt-4.text-center.text-lg-left
                                    h4.text-white Katie Sidebotham
                                    p.mb-0.text-white-50
                                        | Chief Technical Officer & Chief Operating Officer
                                    hr.d-none.d-lg-block.mb-0.ms-0
                    .col-lg-3
                        img.img-fluid(src='assets/img/Anna_Portrait.jpg', alt='...')
                        .bg-black.text-center.h-50
                            .d-flex.h-100
                                .w-100.mt-4.text-center.text-lg-left
                                    h4.text-white Anna Fenkel
                                    p.mb-0.text-white-50
                                        | Chief Data Officer
                                    hr.d-none.d-lg-block.mb-0.ms-0
                    .col-lg-3
                        img.img-fluid(src='assets/img/Josh_Portrait.jpg', alt='...')
                        .bg-black.text-center.h-50
                            .d-flex.h-100
                                .w-100.mt-4.text-center.text-lg-left
                                    h4.text-white Josh Israel
                                    p.mb-0.text-white-50
                                        | Chief Research Officer
                                    hr.d-none.d-lg-block.mb-0.ms-0

                .row.gx-0.mb-1.mb-lg-0.justify-content-center
                    .col-lg-3
                        img.img-fluid(src='assets/img/Jack_Portrait.jpg', alt='...')
                        .bg-black.text-center.h-40
                            .d-flex.h-100
                                .w-100.mt-5.text-center.text-lg-left
                                    h4.text-white Jack Ramirez
                                    p.mb-0.text-white-50
                                        | Public Relations Officer
                                    hr.d-none.d-lg-block.mb-0.ms-0

                    .col-lg-3
                        img.img-fluid(src='assets/img/Kal_Portrait.jpg', alt='...')
                        .bg-black.text-center.h-40
                            .d-flex.h-100
                                .w-100.mt-5.text-center.text-lg-left
                                    h4.text-white Kal Pandit
                                    p.mb-0.text-white-50
                                        | Chief Marketing Officer
                                    hr.d-none.d-lg-block.mb-0.ms-0
                    .col-lg-3
                        img.img-fluid(src='assets/img/Kai_Portrait.jpg', alt='...')
                        .bg-black.text-center.h-40
                            .d-flex.h-100
                                .w-100.mt-5.text-center.text-lg-left
                                    h4.text-white Kai Pandit
                                    p.mb-0.text-white-50
                                        | Chief Experience Officer
                                    hr.d-none.d-lg-block.mb-0.ms-0
                    .col-lg-3
                        img.img-fluid(src='assets/img/Claudia_Portrait.jpg', alt='...')
                        .bg-black.text-center.h-40
                            .d-flex.h-100
                                .w-100.mt-5.text-center.text-lg-left
                                    h4.text-white Claudia Santacruz
                                    p.mb-0.text-white-50
                                        | Secretary
                                    hr.d-none.d-lg-block.mb-0.ms-0

        // Signup
        section#signup.signup-section
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5
                    .col-md-10.col-lg-8.mx-auto.text-center
                        h2.text-white.mb-5 BETA COMING 2022
                        p.text-white-50
                            |Receive email updates
                        a.btn.btn-primary(href='https://form.jotform.com/212167132798056') Join Our Team

                    
        // Footer
        footer.footer.bg-black.small.text-center.text-white-50
            .container.px-4.px-lg-5
                | Copyright &copy; CliMit 2021

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')

        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        // * *                               SB Forms JS                               * *
        // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

        script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')
